body {
    background-color: #f2f2f2;

}


.stickyIcons {
    .whatsapp {
        display: none;
    }

    .call {
        display: none;
    }
}

// ---------------------- loader Settings ---------------------- //

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f2cc0f;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #6453a6;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #8cbf3f;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


// ---------------------- End loader Settings ---------------------- //

// ---------------------- Scroll Body Settings ---------------------- //

body::-webkit-scrollbar {
    width: 1.1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 6px #6453a6b4;
}

body::-webkit-scrollbar-thumb {
    // background-color: rgba(169, 169, 169, 0.604);
    background-color: #6453a6;
    border-radius: 30px;

    &:hover {
        background-color: #6453a6b4;
    }
}

// ---------------------- End Scroll Body Settings ---------------------- //

// ---------------------- Nav Bar ---------------------- //
.navbar-nav{
    margin-left: 23px;
}

.navbar-toggler-icon {
    &:active {
        transition: all ease-in-out 0.1s;
        transform: scaleX(1.2);
    }
}

.togglerPosi {
    margin-right: 83px;
}

.navStyle {
    background-color: #0d0d0d !important;
    font-family: 'Henny Penny', cursive;

    .navTextColor {
        color: #6453a6 !important;
        font-weight: 700;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor2 {
        color: #8cbf3f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor3 {
        color: #f2cc0f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor4 {
        color: #6453a6 !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor5 {
        color: #8cbf3f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }
}

.logo {
    width: 255px;
}

// ---------------------- End Nav Bar ---------------------- //


// ------------ Menu ------------ //


.container{
    width: 70% !important;
    height: auto;
    .accordion{
        text-align: left !important;
    div{
        min-height: 20% !important;
        // background-color: red;
    }
    h3{
        font-weight: 600 !important;
        background-color: #6453a6;
        border: none !important;
        color: #f2cc0f !important;
        text-align: center;
        &:active{
            color:white;
            border: none !important;
        }
    }

    }
}

.titleContent {
    font-size: 3em !important;
    font-family: 'Henny Penny', cursive !important;
    color: #6453a6;
}


.accordion {
    animation-name: fadeRight;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-timing-function: ease;
    visibility: visible !important;

}

.menu {
    margin-bottom: 1.5rem;
    text-align: center;
}


.menu h2 {
    font-weight: 400;
}

.menu p {
    margin-right: .75rem;
    margin-left: .75rem;
}


@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

// ------------ End Menu ------------ //


// ------------ Footer ------------ //
.footer {
    color: #f2f2f2;
    width: 100%;
    height: 40px;
    background-color: #323233;
    text-align: center;
}

// ------------ End Footer ------------ //

// ------------------------------ Media ------------------------------ //

@media only screen and(min-width:1000px) and (max-width: 1024px) {
    .navbar-collapse {
        position: relative;
        left: 14%;
    }

    .form-inline {
        display: none;
    }

}

@media only screen and(min-width:200px) and (max-width: 999px) {
    #preloader {
        position: fixed;
        top: 0;
        left: 6%;
    }
    .titleContent {
        font-size: 1.5em !important;
    }
    .container{
        width: 100% !important;
    }
    
    .hide{
        display: none;
    }

}

// ------------------------------ End Media ------------------------------ //




ul, li {
    list-style: none;
}

// #container {
//     width: 60%;
//     margin: 0 20%;
//     overflow: auto;
// }

.faq{
    text-align: left !important;
}

h1 {
    text-align: center;
    margin: 1em 0;
}


.faq li {
    padding: 1em;
    border-radius: 30px;
}

.faq li.q {
    font-weight: bold;
    // font-size: 120%;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    color: #f2cc0f;
    background-color:#6453a6;
}

// .faq li.q:nth-child(1),
// .faq li.q:nth-child(5),
// .faq li.q:nth-child(9) {
//     background-color:#6453a6;
// }

.faq li.a {
    font-weight: bold;
    // color: #6bba70;
    background: #fff;
    display: none;
}

// img {
//     margin-right: .5em;
// }

// footer {
//     height: 6em;
//     padding: 2em;
//     margin-top: 2em;
// }

// footer h3 {
//     width: 50%;
//     margin: 0 25%;
// }

// footer a {
//     color: #6bba30;
//     text-decoration: none;
// }

/********* MEDIA QUERIES ************/
// @media (max-width: 800px) {
//     #container {
//         width: 90%;
//         margin: 0 5%;
//     }
    
//     .title {
//         width: 90%;
//         margin: 0 5%;
//         height: 3.5em;
//     }
    
//     .faq li {
//         text-align: center;
//     }
    
//     .faq li.a {
//         width: 85%;
//         margin-left: 5%;
//     }
    
//     footer h3 {
//         width: 90%;
//         margin: 0 5%;
//         text-align: center;
//     }
// }