body {
    background-color: #f2f2f2;
}

.hideAllPage {
    display: none;
}

.stickyIcons {
    .whatsapp {
        display: none;
    }

    .call {
        display: none;
    }
}

// ---------------------- [-loader Settings-] ---------------------- //

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f2cc0f;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #6453a6;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #8cbf3f;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


// ---------------------- [-End loader Settings-] ---------------------- //

// ---------------------- [-Scroll Body Settings-] ---------------------- //

body::-webkit-scrollbar {
    width: 1.1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 6px #6453a6b4;
}

body::-webkit-scrollbar-thumb {
    // background-color: rgba(169, 169, 169, 0.604);
    background-color: #6453a6;
    border-radius: 30px;

    &:hover {
        background-color: #6453a6b4;
    }
}

// ---------------------- [-End Scroll Body Settings-] ---------------------- //

// ---------------------- [-Nav Bar-] ---------------------- //
.navbar-nav{
    margin-left: 23px;
}

.navbar-toggler-icon {
    &:active {
        transition: all ease-in-out 0.1s;
        transform: scaleX(1.2);
    }
}

.togglerPosi {
    margin-right: 83px;
}

.navStyle {
    background-color: #0d0d0d !important;
    font-family: 'Henny Penny', cursive;

    .navTextColor {
        color: #6453a6 !important;
        font-weight: 700;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor2 {
        color: #8cbf3f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor3 {
        color: #f2cc0f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor4 {
        color: #6453a6 !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor5 {
        color: #8cbf3f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }
}

.logo {
    width: 255px;
}

// ---------------------- [-End Nav Bar-] ---------------------- //


// ------------ [-Menu-] ------------ //


.fancybox-thumbs__list a:before {
    border: 3px solid #6453a6 !important;
}


// .animate__bounceInRight{
//     // animation-duration: 5s;	
//     animation-delay: 1s !important; 
// }

.videoAnim{
    animation-name: videoAnim;
    animation-duration: 2s;	
    animation-delay: 0.2s;
    // animation-timing-function:steps(1,2,3);	
    visibility: visible !important;	
}

@keyframes videoAnim {
    0% {
        opacity: 0;
        transform: translate3d(20%, 0, 0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

.containerGallery{
    animation-name: padeLeft;
    animation-duration: 2s;	
    animation-delay: 0.1s;
    animation-timing-function: ease;	
    visibility: visible !important;	
}

@keyframes padeLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

.mediaTitle{
    font-family: 'Henny Penny', cursive !important; 
    font-size: 4em;
}

    .menu {
        margin-bottom: 1.5rem;
        text-align: center;
    }


    .menu h2 {
        font-weight: 400;
    }

    .menu p {
        margin-right: .75rem;
        margin-left: .75rem;
    }


    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0)
        }

        100% {
            opacity: 1;
            transform: none
        }
    }



// ------------ [-End Menu-] ------------ //


// ------------ [-Footer-] ------------ //
.footer {
    color: #f2f2f2;
    width: 100%;
    height: 40px;
    background-color: #323233;
    text-align: center;
}

// ------------ [-End Footer-] ------------ //

// ------------------------------ [-Media Query-] ------------------------------ //


@media only screen and(min-width:1000px) and (max-width: 1024px) {
    .navbar-collapse {
        position: relative;
        left: 10%;
    }

    .form-inline {
        display: none;
    }
    .stickyIcons {
        position: sticky !important;
        top: 90% !important;
        bottom: 0% !important;
        z-index: 1 !important;

        .whatsapp {
            position: sticky !important;
            top: 90% !important;
            display: unset !important;

            img {
                width: 60px !important;
                height: auto !important;

                &:active {
                    transition: all 0.2s ease-in-out;
                    transform: scale(1.1);
                    animation: rotation 0.3s;
                }
            }
        }

        .call {

            display: unset !important;
            position: sticky !important;
            top: 90% !important;
            left: 100% !important;
            right: 0px;
            z-index: 1 !important;

            img {
                width: 60px !important;
                height: auto !important;

                &:active {
                    transition: all 0.2s ease-in-out !important;
                    transform: scale(1.1) !important;
                    animation: rotation 0.3s;
                }
            }
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    
}

@media only screen and(min-width:200px) and (max-width: 999px) {
    #preloader {
        position: fixed;
        top: 0;
        left: 6%;
    }
    .mediaTitle{
        font-size: 2.5em;
    }

    .hide {
        display: none;
    }

    .stickyIcons {
        position: sticky !important;
        top: 80% !important;
        bottom: 0% !important;
        z-index: 1 !important;

        .whatsapp {
            position: sticky !important;
            top: 90% !important;
            display: unset !important;

            img {
                width: 60px !important;
                height: auto !important;

                &:active {
                    transition: all 0.2s ease-in-out;
                    transform: scale(1.1);
                    animation: rotation 0.3s;
                }
            }
        }

        .call {

            display: unset !important;
            position: sticky !important;
            top: 90% !important;
            left: 100% !important;
            right: 0px;
            z-index: 1 !important;

            img {
                width: 60px !important;
                height: auto !important;

                &:active {
                    transition: all 0.2s ease-in-out !important;
                    transform: scale(1.1) !important;
                    animation: rotation 0.3s;
                }
            }
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}

// ------------------------------ [ -End Media Query -] ------------------------------ //

