
body{
    background-color: #f2f2f2;

}

.navbar-toggler-icon{
    // color: white !important;
}

.navStyle{
    // background-color: #f2cc0f !important;
    background-color: #0d0d0d !important;
    font-family: 'Henny Penny', cursive;
    &:hover{
        // background-color: black !important;
        // opacity: 0.8;
    }
    .navTextColor{
        color:#6453a6 !important;
        font-weight: 700;
     }
     .navTextColor2{
        color:#8cbf3f !important;
     }
     .navTextColor3{
        color: #f2cc0f !important;
     }
     .navTextColor4{
        color:#6453a6 !important;
     }
     .navTextColor5{
        color:#8cbf3f !important;
     }
}


.logo{
width: 255px;
// background-color: #f2f2f2;

}

.nav-btn{
    // min-width: 100%;
    // background-color: #e1eb84;
    font-family: 'Henny Penny', cursive;
    font-weight: 600;
    text-align: center;
    // min-width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: #3A0561;


    img{
        // min-width: 16%;
        // height: auto;
        // width: 100px;
        padding-bottom: 10px;
    }
div{
    max-width: 100%;
    min-height: 10px;
    div:nth-child(2){
       
        a{
            
            border-radius: 30px;
            padding: 5px;
            border: 3px solid #f2f2f2;
            background-color: #ffffff;
            text-decoration: none;
            color: #9453A6;
            &:hover{
                // filter: grayscale(100%);
                transition: all ease-in-out 2s;
            }
            &:active{
                
                transition: all 2s ease-in-out;
                // background-color: gray;
            }
        }
        &:active{
            transform: scaleX(1.2);
        }
    }
    div:nth-child(3){
        
        a{
            border-radius: 30px;
            padding: 5px;
            border: 3px solid #f2f2f2;
            background-color: #ffffff;
            text-decoration: none;
            color: #8CBF3F;
            &:hover{
                // filter: grayscale(100%);
                transition: all ease-in-out 2s;
            }
            &:active{
                
                transition: all 2s ease-in-out;
                // background-color: gray;
            }
        }
        &:active{
            transform: scaleX(1.2);
        }
    }
    div:nth-child(4){
        
        a{
            border-radius: 30px;
            padding: 5px;
            border: 3px solid #f2f2f2;
            background-color: #ffffff;
            text-decoration: none;
            color: #F2CC0F;
            &:hover{
                // filter: grayscale(100%);
                transition: all ease-in-out 2s;
            }
            &:active{
                
                transition: all 2s ease-in-out;
                // background-color: gray;
            }
        }
        &:active{
            transform: scaleX(1.2);
        }
    }
    div:nth-child(5){
        
        a{
            border-radius: 30px;
            padding: 5px;
            border: 3px solid #f2f2f2;
            background-color: #ffffff;
            text-decoration: none;
            color: #9453A6;
            &:hover{
                // filter: grayscale(100%);
                transition: all ease-in-out 2s;
            }
            &:active{
                
                transition: all 2s ease-in-out;
                // background-color: gray;
            }
        }
        &:active{
            transform: scaleX(1.2);
        }
    }
    div:nth-child(6){
 
        label{
            cursor: pointer;
            border: 3px solid #f0e68b;
            border-radius: 30px;
            padding: 5px;
            &:active{
                transform: scaleX(1.2);
            }
        }
            .inputSrc{
                margin-top: 17px;
                width: 220px;
                border: 3px solid #f0e68b;
                border-radius: 30px;
                outline: none;
            }
    }

    
}
}

.nav-item{
    margin-left: 25px !important;
}

.textSlider{
    font-family: 'Henny Penny', cursive;
    color: #f2cc0f !important;
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.slider{
    z-index: 2;
    background-color: black;
    // background-color: gray;
}

.opas{
    opacity: 0.8 !important;
    z-index: 1;
    // background-color: black !important;
    // z-index: 1 !important;
    // min-width: 100% !important;
    // min-height: 100% !important;
}

.sliderPng{
    // width: 100px;
    height: 550px;
    // background-image: url(../../img/slider/4.png);
    background-image: url(../../img/slider/1.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

}
.sliderPng2{
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/2.png);
    background-repeat: no-repeat;
    // background-position:center;
    background-size: cover;
}
.sliderPng3{
    height: 540px;
    background-image: url(../../img/slider/3.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.sliderPng4{
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/4.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.sliderPng5{
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/2.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}


.menu{
    height: 400px;
    background-color: #f2f2f2;
    min-width: 100% !important;
    border: 1px solid black;
    .imgBernard{
        height: 400px;
        img{
            width: 150px;
            // position: relative;
            // top: 50px;
            margin-top: 20px;
        }
        .fontMenu{
           
            font-size: 1em;
            font-family: 'Henny Penny', cursive;
            color: #6453a6 !important;
        }
    }
}

.box-2{
    height: 200px;
}


.togglerPosi{
    margin-right: 83px;
}




//////////////////--------- 400px -----------///////////////////////
// @media (min-width: 375px) and (max-width: 768px){
//     .navbar-toggler{
//         // margin-left: 156px;
//         z-index: 1;

//     }
//     .textSlider{
//         font-size: 1.5em !important;
//     }
// .navbar-nav{
//     position: relative;
//     right: 177px;
//     top: 57px;
// }
// .form-inline{
//     position: relative;
//     bottom: 96px;
// }
// }

////////////////////--------- 375px -----------///////////////////////
// @media (min-width: 370px) and (max-width: 400px){
//     .navbar-toggler{
//         // margin-left: 138px;
//         z-index: 1;
//         float:right;
//     // display: inline-block;
//     // font-size: 12px;
//     // padding: 0 22px;
//     // line-height: 60px;
//     // letter-spacing: 1px;
//     // text-transform: uppercase;
//     }
//     .textSlider{
//         font-size: 1.5em !important;
//     }
// .navbar-nav{
//     position: relative;
//     right: 177px;
//     top: 57px;
// }
// .form-inline{
//     position: relative;
//     bottom: 96px;
// }
// }

////////////////////--------- 300px -----------///////////////////////
// @media (min-width: 300px) and (max-width: 369px){
//     .navbar-toggler{
//         margin-left: 112px;
//         z-index: 1;
//     }
//     .textSlider{
//         font-size: 1.5em !important;
//     }
// .navbar-nav{
//     position: relative;
//     right: 177px;
//     top: 57px;
// }
// .form-inline{
//     position: relative;
//     bottom: 96px;
// }
// }