body {
  background-color: #f2f2f2;
}

.navbar-toggler-icon:active {
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.togglerPosi {
  margin-right: 83px;
}

.navStyle {
  background-color: #0d0d0d !important;
  font-family: 'Henny Penny', cursive;
}

.navStyle .navTextColor {
  color: #6453a6 !important;
  font-weight: 700;
}

.navStyle .navTextColor:active {
  -webkit-transition: ease-in-out all 0.1s;
  transition: ease-in-out all 0.1s;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.navStyle .navTextColor2 {
  color: #8cbf3f !important;
}

.navStyle .navTextColor2:active {
  -webkit-transition: ease-in-out all 0.1s;
  transition: ease-in-out all 0.1s;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.navStyle .navTextColor3 {
  color: #f2cc0f !important;
}

.navStyle .navTextColor3:active {
  -webkit-transition: ease-in-out all 0.1s;
  transition: ease-in-out all 0.1s;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.navStyle .navTextColor4 {
  color: #6453a6 !important;
}

.navStyle .navTextColor4:active {
  -webkit-transition: ease-in-out all 0.1s;
  transition: ease-in-out all 0.1s;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.navStyle .navTextColor5 {
  color: #8cbf3f !important;
}

.navStyle .navTextColor5:active {
  -webkit-transition: ease-in-out all 0.1s;
  transition: ease-in-out all 0.1s;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.logo {
  width: 255px;
}

.nav-item {
  margin-left: 25px !important;
}

.textSlider {
  font-family: 'Roboto', sans-serif;
  color: white !important;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5em;
}

.slider {
  z-index: 2;
  background-color: black;
}

.opas {
  z-index: 1;
  opacity: 0.6;
}

.sliderPng {
  height: 540px;
  background-image: url(../../img/slider/1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderPng2 {
  height: 540px;
  background-image: url(../../img/slider/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderPng3 {
  height: 540px;
  background-image: url(../../img/slider/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sliderPng4 {
  height: 540px;
  background-image: url(../../img/slider/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sliderPng5 {
  height: 540px;
  background-image: url(../../img/slider/5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgFunders1 img {
  border-radius: 100%;
  width: 140px;
  height: 140px;
}

.menu .col-lg-6 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.menu h2 {
  font-weight: 400;
}

.menu .col-lg-6 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

@media (min-width: 200px) and (max-width: 500px) {
  .textSlider {
    font-size: 1.5em !important;
  }
  .sliderPng {
    height: 350px;
  }
  .sliderPng2 {
    height: 350px;
  }
  .sliderPng3 {
    height: 350px;
  }
  .sliderPng4 {
    height: 350px;
  }
  .sliderPng5 {
    height: 350px;
  }
}
/*# sourceMappingURL=menu.css.map */