body {
    background-color: #f2f2f2;

}


.stickyIcons{
    .whatsapp{
        display: none;
    }
    .call{
        display: none;
    }
}

// ---------------------- Scroll Body Settings ---------------------- //

body::-webkit-scrollbar {
    width: 0.9em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 6px #6453a6b4;
}

body::-webkit-scrollbar-thumb {
    // background-color: rgba(169, 169, 169, 0.604);
    background-color: #6453a6;
    border-radius: 30px;

    &:hover {
        background-color: #6453a6b4;
    }
}

// ---------------------- End Scroll Body Settings ---------------------- //

// ---------------------- Nav Bar ---------------------- //

.navbar-toggler-icon {
    &:active {
        transition: all ease-in-out 0.1s;
        transform: scaleX(1.2);
    }
}

.togglerPosi {
    margin-right: 83px;
}

.navStyle {
    // background-color: #f2cc0f !important;
    background-color: #0d0d0d !important;
    font-family: 'Henny Penny', cursive;

    .navTextColor {
        color: #6453a6 !important;
        font-weight: 700;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor2 {
        color: #8cbf3f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor3 {
        color: #f2cc0f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor4 {
        color: #6453a6 !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }

    .navTextColor5 {
        color: #8cbf3f !important;

        &:active {
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
    }
}

.logo {
    width: 255px;
}

// ---------------------- End Nav Bar ---------------------- //

// ---------------------- Slider ---------------------- //
.nav-item {
    margin-left: 25px !important;
}

.textSlider {
    // font-family: 'Henny Penny', cursive;
    font-family: 'Roboto', sans-serif;
    // color: #f2cc0f !important;
    color: white !important;
    z-index: 3;
    // color: #f2f2f2 !important;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.slider {
    z-index: 2;
    background-color: black;
    // background-color: gray;
}

.opas {
    z-index: 1;
    opacity: 0.6;
}

.sliderPng {
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/1.png);
    background-repeat: no-repeat;
    // background-position:center;
    background-size: cover;

}

.sliderPng2 {
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/2.jpg);
    background-repeat: no-repeat;
    // background-position:center;
    background-size: cover;
}

.sliderPng3 {
    height: 540px;
    background-image: url(../../img/slider/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sliderPng4 {
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sliderPng5 {
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// ---------------------- End Slider ---------------------- //



// ------------ Menu ------------ //
// .menu{
//     animation-name: fadeInUp;
// }


 
.containerMenu{
    .row{
        animation-name: fadeInUp;
        animation-duration: 2s;	
        animation-delay: 0.1s;
        animation-timing-function: ease;	
        visibility: visible !important;	
    }				
}

// @keyframes slideUp {
// 	0% {
// 		transform: translateY(100%);
// 	}
		
// 	100% {
// 		transform: translateY(0%);
// 	}	
// }

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}
// @keyframes slideDown {
// 	0% {
// 		transform: translateY(40%);
// 	}
	
// 	100% {
// 		transform: translateY(0%);
// 	}		
// }

.bgFunders1 {
    img {
        border-radius: 100%;
        width: 140px;
        height: 140px;
    }
}

.menu .col-6,
.col-12,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xl-6 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.menu h2 {
    font-weight: 400;
}

.menu p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.scroll {
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 0.9em;
    }


    &::-webkit-scrollbar-thumb {
        // background-color: rgba(169, 169, 169, 0.604);
        background-color: #8cbf3f;
        border-radius: 30px;

        &:hover {
            background-color: #8cbf3fb9;
        }
    }
}

.winnersElement{
    display: none;
}
// ------------ End Menu ------------ //


// ------------ Footer ------------ //
.footer{
    color: white;
    width: 100%;
    height: 40px;
    background-color: #323233;
}
// ------------ End Footer ------------ //

// ------------------------------ Media ------------------------------ //

@media only screen and(min-width:2130px) and (max-width: 3748px) {
    .containerIframe {
        // position: absolute;
        // right: 0;

        iframe {
            height: 135vh;
            width: 40vh;
        }
    }

    .menu2 {
        iframe {
            height: 135vh;
            width: 40vh;
        }
    }
}

@media only screen and(min-width:1600px) and (max-width: 2129px) {
    .containerIframe {
        // position: absolute;
        // right: 0;

        iframe {
            height: 173vh;
            width: 40vh;

        }
    }

    .menu2 {
        iframe {
            height: 173vh;
            width: 40vh;
        }
    }
}

@media only screen and(min-width:1346px) and (max-width: 1599px) {
    .containerIframe {
        // position: absolute;
        // right: 0;

        iframe {
            height: 173vh;
            width: 30vh;
        }
    }

    .menu2 {
        iframe {
            height: 173vh;
            width: 30vh;
        }
    }
}

@media only screen and(min-width:1025px) and (max-width: 1345px) {
    .containerIframe {
        iframe {
            width: 22vh;
            height: 173vh;
        }
    }

    .menu2 {
        iframe {
            height: 173vh;
            width: 25vh;
        }
    }
}

@media only screen and(min-width:1000px) and (max-width: 1024px) {
    .containerIframe {
        iframe {
            width: 22vh;
            height: 170vh;
        }
    }

    .menu2 {
        iframe {
            height: 170vh;
            width: 22vh;
        }
    }
}

@media only screen and(min-width:200px) and (max-width: 999px) {
    .fontSizeMenu {
        font-size: 12px;
        font-weight: 400;

        h2 {
            font-size: 2em;
        }
    }

    .containerIframe {
        iframe {
            display: none;
            visibility: hidden;
        }
    }

    .menu2 {
        iframe {
            display: none;
            visibility: hidden;
        }
    }

    .textSlider {
        font-size: 1.5em !important;
    }

    .sliderPng {
        height: 350px;

    }

    .sliderPng2 {
        height: 350px;
    }

    .sliderPng3 {
        height: 350px;
    }

    .sliderPng4 {
        height: 350px;
    }

    .sliderPng5 {
        height: 350px;
    }

    @keyframes slideDown2 {
        0% {
            transform:rotate(0deg);
        }			
        100% {
            transform: rotate(360deg);
        }		
    }


.stickyIcons{
    position:sticky !important;
    top: 80% !important;
    bottom: 0% !important;
    z-index: 1 !important;
    
    .whatsapp {
        position: sticky !important;
        top: 90% !important;
        display:unset !important;
        img {
            width: 60px !important;
            height: auto !important;
            &:active{
                transition: all 0.2s ease-in-out;
                transform: scale(1.1);
                animation: slideDown2 0.3s;
            }
        }
    }
    .call {

        display: unset !important;
        position: sticky !important;
        top: 90% !important;
        left: 100% !important;
        right: 0px;
        // bottom: 3% !important;
        z-index: 1 !important;
        img {
            width: 60px !important;
            height: auto !important;
            &:active{
                transition: all 0.2s ease-in-out !important;
                transform: scale(1.1) !important;
                transform: scale(1.1);
                animation: slideDown2 0.3s;
            }
        }
    }
}

.winnersElement {
    z-index: 3;
    position: relative;
    bottom: 16px;
    width: 100%;
    height: 700px;
    left: 0px;
    text-align: center;
    transition: .6s;
    background-image: url(../../img/element.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: unset;


}




.winnersElement a {
    position: relative;
    top: 261px;
    width: 11.1em;
    height: 11.1em;
    display: inline-block;
    border-radius: 50%;
    background: rgba(255, 255, 255, .59);
}




.winnersElement a #outter {
    font-size: 1em;
    position: absolute;
    margin: .23em;
    width: 10.64em;
    height: 10.64em;
    border-radius: 50%;
    background: #59258e url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xcolorwheel.png.pagespeed.ic.67t0nvuILD.png) no-repeat center;
    transition: .6s
}

.winnersElement a .inner {
    position: relative;
    width: 10em;
    height: 10em;
    margin: .54em;
    border-radius: 50%;
    text-align: center;
    background: #fff url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xscheduleCTA.jpg.pagespeed.ic.yJXQyGrvN8.jpg) center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .48);
    transform: rotate(-18deg)
}

.winnersElement a .inner span {
    display: block;
    font-family: 'Henny Penny', cursive;
    color: #2a292b;
    line-height: 1.1em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .32)
}

.winnersElement a .inner span:nth-child(1) {
    padding-top: 1em
}

.winnersElement a .inner span:nth-child(2) {
    color: #3f940c;
    font-size: 2.3em;
    line-height: 1em
}

.winnersElement a .inner span:nth-child(3) {
    font-size: 1.8em
}

.winnersElement a .inner span:nth-child(4) {
    font-size: 1.4em
}

.winnersElement a:hover #star {
    opacity: 1
}

.winnersElement a:hover #outter {
    box-shadow: 0 0 17px white, 0 0 30px white, 0 0 70px white, 0 0 160px white
}
}





    

// ------------------------------ End Media ------------------------------ //



// .iframeLogo{
    
//     iframe{
//         height: 20vh;
//         width: auto;
//         overflow-x: none;
//         overflow-y: none;
//     }
// }



// ////////////////--------- 400px -----------///////////////////////
// @media (min-width: 200px) and (max-width: 500px){
//     .textSlider{
//         font-size: 1.5em !important;
//     }
//     .sliderPng{
//         height: 350px;

//     }
//     .sliderPng2{
//         height: 350px;
//     }
//     .sliderPng3{
//         height: 350px;
//     }
//     .sliderPng4{
//         height: 350px;
//     }
//     .sliderPng5{
//         height: 350px;
//     }
// }








// @media (max-width:1250px) {
//     .home .overlay {
//         left: inherit;
//         right: 6% !important;
//         top: 0%;
//         margin-left: 0
//     }

//     .home .overlay {
//         right: 7%
//     }

//     html:not(.home) .overlay {
//         right: 6%;
//         left: inherit
//     }
// }

// @media (max-width:950px) {
//     .overlay {
//         right: 6%
//     }

//     html:not(.home) .overlay {
//         right: 4%
//     }
// }


