
body{
    background-color: #f2f2f2;

}



// ---------------------- Nav Bar ---------------------- //

.navbar-toggler-icon{
    &:active{
        transition: all ease-in-out 0.1s;
        transform: scaleX(1.2);
    }
}

.togglerPosi{
    margin-right: 83px;
}

.navStyle{
    // background-color: #f2cc0f !important;
    background-color: #0d0d0d !important;
    font-family: 'Henny Penny', cursive;
    .navTextColor{
        color:#6453a6 !important;
        font-weight: 700;
        &:active{
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
     }
     .navTextColor2{
        color:#8cbf3f !important;
        &:active{
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
     }
     .navTextColor3{
        color: #f2cc0f !important;
        &:active{
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
     }
     .navTextColor4{
        color:#6453a6 !important;
        &:active{
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
     }
     .navTextColor5{
        color:#8cbf3f !important;
        &:active{
            transition: ease-in-out all 0.1s;
            transform: scaleX(1.2);
        }
     }
}

.logo{
width: 255px;
}

// ---------------------- End Nav Bar ---------------------- //

// ---------------------- Slider ---------------------- //
.nav-item{
    margin-left: 25px !important;
}

.textSlider{
    // font-family: 'Henny Penny', cursive;
    font-family: 'Roboto', sans-serif;
    // color: #f2cc0f !important;
    color: white !important;
    z-index: 3;
    // color: #f2f2f2 !important;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.slider{
    z-index: 2;
    background-color: black;
    // background-color: gray;
}

.opas{
    z-index: 1;
    opacity: 0.6;
}

.sliderPng{
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/1.png);
    background-repeat: no-repeat;
    // background-position:center;
    background-size: cover;

}
.sliderPng2{
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/2.jpg);
    background-repeat: no-repeat;
    // background-position:center;
    background-size: cover;
}
.sliderPng3{
    height: 540px;
    background-image: url(../../img/slider/3.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.sliderPng4{
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/4.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.sliderPng5{
    // width: 100px;
    height: 540px;
    background-image: url(../../img/slider/5.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
// ---------------------- End Slider ---------------------- //



// ------------ Menu ------------ //

.bgFunders1{
    img{
        border-radius: 100%;
        width: 140px;
        height: 140px;
    }
}

.menu .col-lg-6 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .menu h2 {
    font-weight: 400;
  }
  .menu .col-lg-6 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


// .menu{
//     // min-width: 100% !important;
//     font-family: 'Roboto', sans-serif !important;
//     // background-color: black; 
//     z-index: 1;
    
//     .fundersImg1{
//         opacity: 0.8;
//         height: 350px;
//         border: 1px solid black;
//         min-width: 50%;
//         text-align: center;
//         overflow: hidden;
//         img{
//             width: 350px;
//             height: 250px;
//             border-radius: 100%;
//             margin-top: 20px;
//         }
//         .fontMenu{
           
//             font-size: 1em;
            
//             color: black !important;
//         }
//     }

//     .fundersImg2{
//         overflow: hidden;
//         opacity: 0.8;
//         height: 350px;
//         min-width: 50%;
//         border: 1px solid black;
//         text-align: center;
//         img{
//             width: 350px;
//             height: 250px;
//             border-radius: 100%;
//             margin-top: 20px;
//         }
//         .fontMenu{
           
//             font-size: 1em;
           
//             color: black !important;
//         }
//     }
//     .fundersImg3{
//         opacity: 0.8;
//         height: 350px;
//         // min-width: 50%;
//         // background-color: red;

//         text-align: center;

//         img{
//             width: 350px;
//             height: 250px;
//             border-radius: 100%;
//             margin-top: 20px;
//         }
//         .fontMenu{
           
//             font-size: 1em;
          
//             color: black !important;
//         }
//     }
//     .fundersImg4{
//         opacity: 0.8;
//         height: 350px;
//         // min-width: 50%;

//         text-align: center;

//         img{
//             width: 350px;
//             height: 250px;
//             border-radius: 100%;
//             margin-top: 20px;
//         }
//         .fontMenu{
           
//             font-size: 1em;
           
//             color: black !important;
//         }
//     }
//     .fundersImg5{
//         opacity: 0.8;
//         height: 350px;
//         // min-width: 50%;

//         text-align: center;

//         img{
//             width: 350px;
//             height: 250px;
//             border-radius: 100%;
//             margin-top: 20px;
//         }
//         .fontMenu{
           
//             font-size: 1em;
        
//             color: black !important;
//         }
//     }
//     .fundersImg6{
//         opacity: 0.8;
//         height: 350px;
//         // min-width: 50%;

//         text-align: center;

//         img{
//             width: 350px;
//             height: 250px;
//             border-radius: 100%;
//             margin-top: 20px;
//         }
//         .fontMenu{
           
//             font-size: 1em;
        
//             color: black !important;
//         }
//     }
//     .fundersImg7{
//         opacity: 0.8;
//         height: 350px;
//         // min-width: 50%;

//         text-align: center;

//         img{
//             width: 350px;
//             height: 250px;
//             border-radius: 100%;
//             margin-top: 20px;
//         }
//         .fontMenu{
           
//             font-size: 1em;
          
//             color: black !important;
//         }
//     }
//     .fundersImg8{
//         opacity: 0.8;
//         height: 350px;
//         // min-width: 50%;

//         text-align: right;

//         img{
//             width: 350px;
//             height: 250px;
//             border-radius: 100%;
//             margin-top: 20px;
//         }
//         .fontMenu{
           
//             font-size: 1em;
        
//             color: black !important;
//         }
//     }


// }


// ------------ End Menu ------------ //


////////////////--------- 400px -----------///////////////////////
@media (min-width: 200px) and (max-width: 500px){
    .textSlider{
        font-size: 1.5em !important;
    }
    .sliderPng{
        height: 350px;

    }
    .sliderPng2{
        height: 350px;
    }
    .sliderPng3{
        height: 350px;
    }
    .sliderPng4{
        height: 350px;
    }
    .sliderPng5{
        height: 350px;
    }
}

////////////////////--------- 375px -----------///////////////////////
// @media (min-width: 370px) and (max-width: 400px){
//     .navbar-toggler{
//         // margin-left: 138px;
//         z-index: 1;
//         float:right;
//     // display: inline-block;
//     // font-size: 12px;
//     // padding: 0 22px;
//     // line-height: 60px;
//     // letter-spacing: 1px;
//     // text-transform: uppercase;
//     }
//     .textSlider{
//         font-size: 1.5em !important;
//     }
// .navbar-nav{
//     position: relative;
//     right: 177px;
//     top: 57px;
// }
// .form-inline{
//     position: relative;
//     bottom: 96px;
// }
// }

////////////////////--------- 300px -----------///////////////////////
// @media (min-width: 300px) and (max-width: 369px){
//     .navbar-toggler{
//         margin-left: 112px;
//         z-index: 1;
//     }
//     .textSlider{
//         font-size: 1.5em !important;
//     }
// .navbar-nav{
//     position: relative;
//     right: 177px;
//     top: 57px;
// }
// .form-inline{
//     position: relative;
//     bottom: 96px;
// }
// }